<!DOCTYPE html>
<html>
<% include ../partials/head %>
    <body>
        <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% include ../partials/locals_errors %>
                    <% include ../partials/form_errors %>
                </div>
                <div class="col-lg-12 zombie_wrapper">
                    <h1 class="page_header">ZombieMania</h1>
                    <section class="zombie_content">
                        Right here I have to come up with an idea for some actual content - though at this point in time, I have no idea what that possibly could be. 
                    </section>
                </div>
            </div>
        </div>
        <!-- /container -->
        <% include ../partials/footer %>
    </body>
</html>