
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-inverse" style="display: flex; justify-content: right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/" class="header_link">Home</a>
            <ul class="navbar-nav ml-auto justify-content-between" style="text-align: right">
                <li>
                    <a href="/about" class="header_link">About</a>
                </li>
                <li>
                    <a href="/contact" class="header_link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /container -->
    <div class="container">
        <% include ./breadcrumbs.ejs %>
    </div>
    </header>