.navbar {
    background-color: rgba(134,134,134,1);
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header_link {
    padding: 15px;
    font-weight: bold;
    font-size: 150%;
    color: white;
}

.header_link:hover {
    text-decoration: none;
    background-color: rgba(34,34,34,1);
    color: white;
    border: 3px solid orange;
}