<button id="users_btn" data-container="users_div" class="admin_btn btn_clicked">Fishers</button>
<button id="fish_btn" data-container="fish_div" class="admin_btn">Fish</button>
<button id="fish_species_btn" data-container="fish_species_div" class="admin_btn">Fish Types</button>
<button id="locations_btn" data-container="locations_div" class="admin_btn">Locations</button>
<button id="subscribers_btn" data-container="subscribers_div" class="admin_btn">Subscribers</button>