<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 left_container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="lang_div">
                                <span>
                                    <p>
                                        Vælg sprog
                                    </p>
                                </span>
                                <a href="/cv/da">
                                    <img src="/img/cv/danish_flag.png" class="img-responsive">
                                </a>
                                <a href="/cv/en">
                                    <img src="/img/cv/english_flag.png" class="img-responsive">
                                </a>
                                <a href="/cv/de">
                                    <img src="/img/cv/german_flag.png" class="picked img-responsive">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 no_padding">
                            <img src="/img/cv/profile_img.jpg" id="profile_img">
                        </div>
                        <div class="col-xs-12 profession">
                            <h2>
                                DesselDyad
                            </h2>
                            <p id="title_span">
                                <i>
                                    Software Udvikler / Webintegrator
                                </i>
                            </p>
                        </div>
                        <div class="col-xs-12 social">
                            <ul id="social_ul">
                                <li>
                                    <span class="glyphicon glyphicon-map-marker">
                                    </span>
                                    <span>
                                        Copenhagen
                                    </span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-earphone">
                                    </span>
                                    <span>
                                        +45 12345678
                                    </span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-envelope">
                                    </span>
                                    <span>
                                        dummy@dummy.dk
                                    </span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-globe">
                                    </span>
                                    <span>
                                        <a href="/">Hjemmeside</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <h2>
                                Sprog
                            </h2>
                            <ul id="skills_ul">
                                <li>
                                    <div class="skill_container">
                                        <span class="lang_name">
                                            Tysk
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 100%;"></span>
                                        </div>
                                        <div class="skill_prct">100%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="lang_name">
                                            Dansk
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 95%;"></span>
                                        </div>
                                        <div class="skill_prct">95%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <div class="lang_name">
                                            <span>
                                                Engelsk
                                            </span>
                                        </div>
                                        <div class="skill_progress">
                                          <span style="width: 95%;"></span>
                                        </div>
                                        <div class="skill_prct">90%</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <h2>
                                Kompetencer
                            </h2>
                            <ul id="skills_ul">
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            HTML
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 80%;"></span>
                                        </div>
                                        <div class="skill_prct">80%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            CSS
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 60%;"></span>
                                        </div>
                                        <div class="skill_prct">60%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <div class="skill_name">
                                            <span>
                                                JS
                                            </span>
                                        </div>
                                        <div class="skill_progress">
                                          <span style="width: 90%;"></span>
                                        </div>
                                        <div class="skill_prct">90%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            Java
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 70%;"></span>
                                        </div>
                                        <div class="skill_prct">70%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            C#
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 70%;"></span>
                                        </div>
                                        <div class="skill_prct">70%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            MongoDB
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 70%;"></span>
                                        </div>
                                        <div class="skill_prct">70%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            SQL
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 70%;"></span>
                                        </div>
                                        <div class="skill_prct">70%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            C
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 40%;"></span>
                                        </div>
                                        <div class="skill_prct">40%</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill_container">
                                        <span class="skill_name">
                                            F#
                                        </span>
                                        <div class="skill_progress">
                                          <span style="width: 55%;"></span>
                                        </div>
                                        <div class="skill_prct">55%</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <h2>
                                Sociale medier
                            </h2>
                            <ul>
                                <li>
                                    <div class="social_container">
                                        <span class="fab fa-facebook-square">
                                        </span>
                                        <a href="#">
                                            FaceBook
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social_container">
                                        <span class="fab fa-youtube">
                                        </span>
                                        <a href="#">
                                            Youtube
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social_container">
                                        <span class="fa fa-linkedin fa-2x">
                                        </span>
                                        <a href="#">
                                            Linked-In
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social_container">
                                        <span class="fa fa-github">
                                        </span>
                                        <a href="#">
                                            Github
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social_container">
                                        <span class="glyphicon glyphicon-wrench">
                                        </span>
                                        <a href="#">
                                            Mine Projekter
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 right_container">
                <row>
                    <div class="col-xs-12">
                        <h2>Curriculum Vitae</h2>
                        <h3>Biografi</h3>
                        <p>
                            Som medarbejder er jeg loyal, punktlig, flittig og
                            ansvarsbevidst. Jeg er en meget åben og tolerant person, og
                            arbejder derfor godt sammen med alle andre typer mennesker.
                            Jeg har igennem tiden udviklet en stærk arbejdsmoral, og
                            efterlader derfor aldrig en opgave uafsluttet.
                            Jeg stræber efter altid at give mit bedste, samt at aggere fagligt
                            og professionelt i alle situationer jeg støder ind i. Støder jeg ind
                            i en udfordring, er jeg ikke bange for at spørge om hjælp fra
                            kollegaer, kammerater og sparrings-partnere. Typisk har det
                            vist sig at der er en løsning på ethvert problem - hvor der er en
                            vilje, er der en vej.
                            Min fritid tilbringer jeg med venner, med min kæreste samt med
                            en række forskellige computer-relaterede hobbyer. Heriblandt
                            har jeg arbejdet på for sjovt at udvikle forskellige hjemmesider,
                            både fordi jeg hygger mig med det og for at øve mine
                            færdigheder.
                        </p>
                    </div>
                    <div class="col-xs-12 border-heading">
                        <h2>Uddannelser</h2>
                    </div>
                    <div class="col-xs-12" id="education_container">
                        <ul>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    08/2019 - Igangværende
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    <strong>
                                                        Softwareudvikling - Bachelor (fortsat)
                                                    </strong>
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        <u>
                                                            IT Universitetet København
                                                        </u>
                                                    </i>
                                                </p>
                                                <p>
                                                    <ul class="outer_ul">
                                                        <li>
                                                            <h4>
                                                                Teknologier
                                                            </h4>
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        Java
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        C
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        F#
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        MongoDB
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        Node.js
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <h4>
                                                                Projekter
                                                            </h4>
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        Vi brugte Java i kombination til at skrive vores egen implementering af netflix. 
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        Mit Bachelorprojekt, i hvilket vi udviklede et browser-baseret redskab til Lifelogging data, med et Node.js API og en MongoDB database. Samtidigt testede vi MongoDB's egnethed til denne type data.
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    02/2017 - 10/2018
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    <strong>
                                                        Webintegrator
                                                    </strong>
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        <u>
                                                            Roskilde Tekniske Skole
                                                        </u>
                                                    </i>
                                                </p>
                                                <p>
                                                    I løbet af uddannelsen arbejdede vi bl.a. med følgende
                                                    teknologier: MySQL, MongoDB, HTML, CSS, Bootstrap,
                                                    JavaScript, NodeJS, JSON, opsætning og tilpasning af Web
                                                    Servere samt iværksætteri og Agile Develtopment (SCRUM). Jeg
                                                    eksperimenterede herudover med at skrive mit egede chat-
                                                    system, forum og integration med Facebook, Login & Google.
                                                    I min svendeprøve anvendte jeg NodeJS, MongoDB, npm
                                                    express samt Bootstrap.
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    08/2012 - 12/2015
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    <strong>
                                                        Softwareudvikling - Bachelor (påbgyndt)
                                                    </strong>
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        <u>
                                                            IT Universitetet København
                                                        </u>
                                                    </i>
                                                </p>
                                                <p>
                                                    <ul class="outer_ul">
                                                        <li>
                                                            <h4>
                                                                Teknologier
                                                            </h4>
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        Java   
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        C#
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        XML
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        MySQL
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        LaTex
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <h4>
                                                                Projekter
                                                            </h4>
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        I første semester brugte vi java i kombination med MySQL til at skrive et bookingsystem til et mindre (fiktivt) flyselskab. 
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        Til vores førsteårsprojekt implementerede vi et interaktivt Danmarkskort i Java, ved at parse et sæt koordinater fra Krak.dk vha. XML. 
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        I tredje semester implementerede vi en applikation i C# og MySQL, som var en slags "browser" til at bladre igennem data vi havde fået fra IMDB's open DB. 
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        Til vores andetårsprjekt lavede vi et projekt der involverede internationalt samarbejde med et andet universitet, i fællesskab med hvilket vi udviklede et program til upload og deling af videoer - f.eks. vines. 
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    Udover det havde jeg en række kurser der omhandlede forretnings strategier & gruppearbejde, heriblandt Agile Development (SCRUM). 
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    10/2011 – 01/2012
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    <strong>
                                                        GSK
                                                    </strong>
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        <u>
                                                            Niels Brock
                                                        </u>
                                                    </i>
                                                </p>
                                                <p>
                                                    Opgraderede matematik fra B-niveau til A-niveau
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    08/2008- 06/2011
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    <strong>
                                                        STX
                                                    </strong>
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        <u>
                                                            Marie Kruses Skole
                                                        </u>
                                                    </i>
                                                </p>
                                                <p>
                                                    Samfundsfaglig linje med Samfundsfag, Historie, Tysk og Dansk på A-niveau som Hovedfag .
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 border-heading">
                        <h2>Erhvervs erfaring</h2>
                    </div>
                    <div class="col-xs-12" id="work_container">
                        <ul>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    11/2015 – 06/2020
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    1. Assistent
                                                </u>
                                            </h3>
                                            <article>
                                                <p class="institution">
                                                    <i>
                                                        Aldi Karlslunde A/S
                                                    </i>
                                                </p>
                                                <p>
                                                    Her har jeg bl.a. styret butikker selv, inkl. at lave og bogføre bestillinger, bogføring af forskellige regnskaber, generelt papirarbejde, være ansvarshavende for butikkens personale samt generelt styre butikkens hverdag i samarbejde med mine overordnede ledere. Dette har gavnet mig i form af evner inden for samarbejde med andre og erfaring med at være i en lederrolle.
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    02/2012 – 07/2012
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    Kontormedarbejder - Praktikforløb
                                                </u>
                                            </h3>
                                            <article>
                                                <span>
                                                    <i>
                                                        <p class="institution">
                                                            Sektor Media ApS - Den Offentlige Sektor
                                                        </p>
                                                    </i>
                                                </span>
                                                <p>
                                                    I denne halv-årige periode arbejdede jeg dagligt med computere. Jeg udførte en bred varietet af opgaver som oprettelse af statistikker - målrettet online informationssøgning, oprettelse og redigering af artikler, indblik i virksomhedens hverdag samt en mulighed for at observere kommunikation og kontakt med kunder.
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="outer_li">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>
                                                <strong>
                                                    02/2009 – 09/2009
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-10">
                                            <h3>
                                                <u>
                                                    Salgsassistent
                                                </u>
                                            </h3>
                                            <article>
                                                <span>
                                                    <i>
                                                        <p class="institution">
                                                            Kvickly Farum
                                                        </p>
                                                    </i>
                                                </span>
                                                <p>
                                                    Jeg udførte diverse forskellige opgaver, bl.a. at være kassemedarbejder, fylde varer op og gøre rent.
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </row>
            </div>
        </div>
    </div>
    </body>
</html>