<!DOCTYPE html>
<html>
    <% include ../partials/head %>
        <body>
            <% include ../partials/header %>
            <div class="Container">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/cv/da">Curriculum Vitae</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
    </body>
</html>