<!DOCTYPE html>
<html>
    <% include ../partials/head %>
        <body>
            <% include ../partials/header %>
            <div class="Container">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-4">
                        
                    </div>
                </div>
            </div>
        <footer>

        </footer>
    </body>
</html>