<!DOCTYPE html>
<html>
    <% include ../partials/head %>
        <body>
            <% include ../partials/header %>
            <div class="Container">
                <div class="row outer_wrapper">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 bio">
                                <h1>Hi, my name is Alex. 
                                    <br/>
                                    I'm a freshly graduated software development BSc graduate with a passion for web development. 
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 no_padding">
                                <div class="col-xs-offset-2 col-xs-8 no_padding">
                                    <div class="header_container">
                                        <h2>
                                            Hobby Projects
                                        </h2>
                                        <div class="row">
                                            <div class="col-xs-12 wrapper">
                                                <div class="logo_container">
                                                    <a href="/zombiemania" id="zombie_logo" class="frontpage_logo">
                                                        ZombieMania
                                                    </a>
                                                </div>
                                                <div class="logo_container">
                                                    <a href="/fishbuddy" id="fish_logo" class="frontpage_logo">
                                                        FishBuddy
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 no_padding">
                                    <div class="header_container">
                                        <h2>
                                            Educational Projects
                                        </h2>
                                        <div class="row">
                                            <div class="col-xs-12 wrapper">
                                                <div class="svende_container">
                                                    <a href="/apprenticeship_test" id="svende_logo">
                                                        <img src="/img/svende/logo/logo.png" class="frontpage_logo_img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-offset-2 col-xs-8 no_padding">
                                    <div class="header_container">
                                        <h2>
                                            Streaming Site
                                        </h2>
                                        <div class="row">
                                            <div class="col-xs-12 wrapper">
                                                <div class="logo_container">
                                                    <a href="/streaming" id="streaming_logo" class="frontpage_logo">
                                                        Streaming
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <footer>

        </footer>
    </body>
</html>