#nav_burger_btn {
    border: 2px solid black;
}

#nav_burger_btn .icon-bar {
    background-color: black;
}

header a:hover {
    background-color: rgba(34,34,34,1);
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(34,34,34,1);
}

.navbar {
    /* background-color: rgba(34,34,34,0.8); */
    padding: 20px;
    background-image: url("../../../img/fish/swipe_background_3.jpg");
}

.operations_div, #operations-collapse {
    background-color: rgba(34,34,34,0.7);
}

.navbar {
    margin-bottom: 0;
    margin-right: -20px;
}

.navbar-right {
    margin-right: 15px;
}


.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}