header a {
    color: white !important;
    padding: 10px;
    font-weight: bold;

}

.navbar-dark .navbar-nav .nav-link:hover {
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    background-color: rgba(34,34,34,1) !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu li {
    padding: 0;
}

.navbar-expand-md .navbar-nav .dropdown-menu li,
.navbar-expand-md .navbar-nav .dropdown-menu li a:hover {
    color: rgba(34,34,34,1) !important;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.override_background {
    color: rgba(255,255,255,1);
    background-color: rgba(34,34,34,0) !important;
}

.override_background:hover {
    color: rgba(255,255,255,1) !important;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    background-color: rgba(34,34,34,1) !important;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-item .nav-link {
}

.dropdown-item:hover {
    color: rgba(34,34,34,1) !important;
    text-decoration: none;
    background-color: #f8f9fa;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    /* text-decoration: none; */
    background-color: rgba(34,34,34,1);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgba(124,124,124,1) !important;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown-menu {
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}