.horizontal {
  display: flex;
  flex-direction: row;
  padding: 25px;
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.latest_img {
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
}

#single_fish_img {
  display: inline-block;
  width: 75% !important;
}

.latest_img:hover {
    box-shadow: 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1);
}

.fish_right,
.fish_right a {
  /* text-decoration: none; */
  color: white !important;
}

.fish_right a {
  text-decoration: underline;
}

.fish_left {
  /* text-align: right; */
  color: rgba(256, 128, 0, 1);
}

.fish_right,
.fish_left {
  text-align: left;
  font-size: 100%;
}

.fish_wrapper {
  padding: 40px;
  width: 65%;
  margin: auto;
  background-color: rgba(24, 24, 24, 0.85);
}

.fish_wrapper .row:nth-child(2n) {
  background-color: rgba(124, 124, 124, 0.55);
  padding: 5px;
}

.fish_wrapper .row:nth-child(2n+1) {
  background-color: rgba(74, 74, 74, 0.55);
  padding: 5px;
}