body {
    /* background-image: url('/img/concrete.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: white; */
    background-image: url("../../../img/fish/background.jpg");
}

#main {
    margin-bottom: 20px;
}
main {
    background-color: rgba(114,114,114,1);
}

a:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#role {
    background-color: white;
    color: black;
}

.orange {
    color: orange !important;
    font-weight: bold;
}

.delete {
    background-color: #FF0000;
}

.wrench {
    background-color: rgb(29, 238, 238);
    height: 150%;
    padding: 10px;
    color: black;
}

.no_padding {
    padding: 0;
}

/* searching stuff*/

.search_a, .search_h1 {
    padding-left: 20px;
}

.search_a {
    font-size: 200%;
}

.user_search_img {
    height: 50px;
    border-radius: 10px;
}
.product_div img {
    height: 100px;
}
.product_div {
    display: flex; 
    flex-direction: row;
}

.center, 
.center h1, h2 {
    width: 90%;
    margin: auto;
    text-align: center;
}

.frontpage_wrapper {
    margin-top: 15px;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;

}

.swipe_div {
    /* width: 100%; */
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

.frontpage_outer_wrapper {
    /* padding: 20px; */
    /* width: 40%; */
}

.small_image {
    padding-top: 10px;
    padding-bottom: 10px;
}

#users_search_title:hover,
#locations_search_title:hover,
#fish_search_title:hover,
#fish_species_search_title:hover {
    cursor: pointer;
    font-weight: bold;
}

.margin_bottom_40px {
    margin-bottom: 40px;
}

h1 {
    font-weight: bold;
    font-size: 3vw;
    color: rgba(256,128,0,1);
    /* color: white; */
}

.title_h2 {
    font-weight: bold;
    font-size: 2vw;
    text-decoration: underline;
    /* color: rgba(256,128,0,1); */
    color: white;
}

.small_title_h2 {
    /* color: rgba(256,128,0,1); */
    color: white;
}

.small_title_h2:hover {
    color: rgba(256,128,0,1);
}

.small_title_h2 h2 {
    font-weight: bold;
    font-size: 1vw;
    text-decoration: underline;
    padding-bottom: 20px;
}

.species_name_title, 
.location_name_title {
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}

.frontpage_img {
    box-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.frontpage_img:hover {
    box-shadow: 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1), 0 0 10px rgba(256,128,0,1);
}